::ng-deep mat-card {
  background-color: rgba(255, 255, 255, 0.175) !important;
  --mdc-outlined-card-container-color: rgba(186, 19, 86, 0.05);
  --mdc-outlined-card-outline-color: rgba(252, 71, 201, 0.633);
  backdrop-filter: blur(8px);
}

::ng-deep mat-card-title {
  color: #ffffff !important;
}

::ng-deep mat-card-subtitle {
  color: #1d0c1b !important;
}
